@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?vj81ao');
    src:  url('../fonts/icomoon.eot?vj81ao#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?vj81ao') format('truetype'),
      url('../fonts/icomoon.woff?vj81ao') format('woff'),
      url('../fonts/icomoon.svg?vj81ao#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
.w {
    margin: 0 auto;
    width: 1200px;
}

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.down-arrow::after {
    content:"\f0d7";
    font-family: 'icomoon';
    margin-left: 6px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_blue {
    color: #1d9bde;
}
